
params {
  tool          = 'maki'
  outdir        = 'results'
  threads       = 0          // pass --threads only if > 0
  kmer_size     = null       // REQUIRED for index; set in params.yaml
  ram_limit     = null
  temp_dir      = null
  jaccard_sample= null
  alpha         = 0.05

  // Inputs (set per run)
  genomes       = null       // manifest file listing genome sequences
  phylogeny     = null       // .nwk
  cluster_file  = null

  // Environment
  cache_dir     = './.cache'
  container     = null
  conda_env     = null
}

profiles {
  standard {
    process.executor = 'local'
  }
  conda {
    process.conda = true
    // params.conda_env can point to 'envs/maki.yml'
  }
  docker {
    docker.enabled = true
    // params.container can be 'ghcr.io/you/maki:2.0.0'
  }
  slurm {
    process.executor = 'slurm'
    process.queue    = 'short'
    process.cpus     = { params.threads ?: 8 }
    process.memory   = '16 GB'
    process.time     = '4h'
  }
}
